In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./Resources/cities.csv")

In [3]:
data

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Ilulissat,100,GL,1665622909,64,69.2167,-51.1000,28.42,5.75
1,1,Albany,100,US,1665622909,67,42.6001,-73.9662,61.21,4.00
2,2,Mataura,3,NZ,1665622909,43,-46.1927,168.8643,56.73,3.69
3,3,Avera,100,US,1665622910,98,33.1940,-82.5271,68.38,12.97
4,4,Nikolskoye,66,RU,1665622910,83,59.7035,30.7861,39.09,2.64
...,...,...,...,...,...,...,...,...,...,...
496,496,Preobrazheniye,100,RU,1665623080,61,42.9019,133.9064,56.91,7.09
497,497,San Cristobal,97,VE,1665623080,95,7.7669,-72.2250,69.98,2.35
498,498,Linjiang,100,CN,1665623081,62,41.8069,126.9078,54.79,2.75
499,499,Nuuk,40,GL,1665622836,86,64.1835,-51.7216,29.01,14.97
500,500,Stuttgart,13,DE,1665623081,71,48.7823,9.1770,51.53,2.13

In [4]:
data.to_html("source_data.html",index=False)